*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
*tags
sh.exe.stackdump
.DS_Store
*.settings
*.classpath
target
bin
*.project
*.swp
*.log
*~
*.idea
*.iml
*.ipr
*.iws
*.snap
*.resources
*.dat
*.xmi
*.index
*.metadata
*Servers
MainTest.java
*system-dev.properties
ClientTest.java
pom.xml.versionsBackup
